@charset "UTF-8";
@import url(/Users/eckareui/Desktop/html+css/UI-practice/2102-06/calendar/scss/normalize.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial,Helvetica,LiHei,Microsoft JhengHei,PMingLiU,微軟正黑體,新細明體,sans-serif;
  margin: 0px;
}

header {
  width: 100vw;
}

footer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background: #F3F4F6;
  bottom: 0;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px 70px;
  width: 100%;
}

h2 {
  color: #5E5658;
  display: inline-block;
  margin: 0 auto;
  padding-right: 24px;
  font-weight: 700;
  font-size: 20px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title h2 {
  padding: 0px;
}

.title img {
  display: inline-block;
  width: 24px;
  height: 24px;
}

/* index */
.modal-header {
  background-image: url(../img/Header-bg.svg);
}

.mui-textfield {
  display: block;
  padding: 24px 32px 28px 32px;
  position: relative;
}

::-webkit-input-placeholder {
  /* CSS 3 標準 */
  color: rgba(94, 86, 88, 0.1);
}

:-ms-input-placeholder {
  /* CSS 3 標準 */
  color: rgba(94, 86, 88, 0.1);
}

::-ms-input-placeholder {
  /* CSS 3 標準 */
  color: rgba(94, 86, 88, 0.1);
}

::placeholder {
  /* CSS 3 標準 */
  color: rgba(94, 86, 88, 0.1);
}

::-webkit-input-placeholder {
  /* Chrome, Safari */
  color: rgba(94, 86, 88, 0.1);
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(94, 86, 88, 0.1);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(94, 86, 88, 0.1);
}

.mui-textfield > input,
.mui-textfield > textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background-color: transparent;
  color: #5E5658;
  border: none;
  border-bottom: 2px solid #FFF;
  outline: none;
  width: 100%;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  font-size: 32px;
  font-family: inherit;
  line-height: inherit;
  background-image: none;
}

.mui-textfield > input:focus,
.mui-textfield > textarea:focus {
  border-color: #5a6df6;
  border-width: 2px;
}

.modal-body {
  margin: 0px;
  padding: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDD330), to(#FBB12B));
  background: linear-gradient(180deg, #FDD330 0%, #FBB12B 100%);
}

.modal-body li {
  background: rgba(255, 255, 255, 0.8);
  margin: 8px 32px;
  border-radius: 16px;
  overflow: hidden;
}

.modal-body li .date-head {
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-body li .date-head h2 {
  display: inline-block;
  margin: 0 auto 0 8px;
  font-weight: normal;
  font-size: 16px;
}

.modal-body li .date-head span.text {
  font-size: 16px;
  color: rgba(94, 86, 88, 0.3);
}

.modal-body li .date-body {
  padding: 16px;
}

.modal-body li .date-body .date-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5e5658;
  padding: 16px 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-body li .date-body .date-info .date {
  text-align: left;
  font-size: 1rem;
  margin: 0px;
}

.modal-body li .date-body .date-info .date span {
  display: block;
  font-weight: normal;
  color: rgba(94, 86, 88, 0.7);
  font-size: 0.85rem;
  margin-bottom: 4px;
}

.modal-body li .date-body .date-info > span {
  font-weight: bold;
  font-size: 2rem;
}

.modal-body li .date-body .date-info:first-child {
  margin-top: -16px;
}

.modal-body li:first-child {
  margin-top: 0px;
}

.collapse-hide h2 {
  color: rgba(94, 86, 88, 0.3);
}

.notice .date-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notice .date-body h2 {
  font-weight: bold;
  font-size: 16px;
  color: rgba(94, 86, 88, 0.7);
  margin: 0 0 0 12px;
}

.modal-footer {
  padding-bottom: 32px;
}

.modal-footer .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 24px;
  margin: 32px 32px 0px 32px;
  border-radius: 16px;
  background: -webkit-gradient(linear, right top, left top, from(#6D45E0), to(#4F71F7));
  background: linear-gradient(270deg, #6D45E0 0%, #4F71F7 100%);
}

.modal-footer .button span {
  color: #FFF;
  font-size: 16px;
}

/* iOS Toggle Switch */
.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ios-switch {
  display: none;
  position: relative;
}

.ios-switch + label .small {
  font-size: 16px;
  color: rgba(94, 86, 88, 0.3);
  line-height: 1.5em;
  display: block;
}

.ios-switch + label {
  text-align: left !important;
  /* To keep the switch from getting misaligned */
}

.ios-switch + label span.sw {
  display: block;
  width: 41px;
  height: 20px;
  float: right;
  border-radius: 10px;
  margin-left: 10px;
  background-color: rgba(120, 120, 128, 0.16);
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.ios-switch + label span.sw:before {
  content: '';
  position: absolute;
  background: #AAAAAF;
  margin-top: 2px;
  margin-left: 2px;
  height: 16px;
  width: 16px;
  border-radius: 15px;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
}

.ios-switch:checked + label span.sw {
  background-color: #6365F2;
}

.ios-switch:checked + label span:before {
  background: #FFF;
  margin-left: 23px;
}

/* calendar */
.is-calendar {
  position: fixed;
  height: 44px;
  background: #F5F5FA;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.calendar-main {
  background-color: #F3F4F6;
  padding: 52px 32px 0px 32px;
  min-height: calc(100vh - 56px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calendar-main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E7E7E7;
}

.calendar-main ul li {
  width: calc(100% / 7);
  text-align: center;
}

.calendar-main .week {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 8px;
}

.calendar-main .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calendar-main .date ul {
  padding: 8px 0px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.calendar-main .date ul li {
  position: relative;
}

.calendar-main .date ul li h3 {
  font-size: 14px;
  font-weight: normal;
  color: #000;
  margin: 0px;
  margin-bottom: 5px;
}

.calendar-main .date ul .normal {
  color: rgba(0, 0, 0, 0.3);
}

.calendar-main .date ul .today {
  color: #FFF;
}

.now {
  position: relative;
}

.now::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #6C62C0;
  top: 32px;
  left: 10px;
}

.fab-add {
  position: absolute;
  width: 74px;
  height: 74px;
  right: 16px;
  bottom: 80px;
  border-radius: 50%;
  background: #FCBD2D;
  -webkit-box-shadow: 0px 4px 8px rgba(252, 189, 45, 0.07), 2px 9px 24px rgba(252, 189, 45, 0.29);
          box-shadow: 0px 4px 8px rgba(252, 189, 45, 0.07), 2px 9px 24px rgba(252, 189, 45, 0.29);
  z-index: 1;
}

.fab-add span::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: white;
  top: 25px;
  left: 36px;
}

.fab-add span::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: white;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 25px;
  left: 36px;
}

.single-day {
  display: block;
  padding: 2px 4px;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 12px;
  color: #5E5658;
  text-align: left;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.is-past {
  color: rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.is-now {
  color: rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.three-day {
  width: 300%;
  position: absolute;
  white-space: nowrap;
  top: 45px;
  z-index: 1;
}

.six-day {
  width: 600%;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
}

.is-today {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(#4F71F7), to(#6D45E0));
  background: linear-gradient(180deg, #4F71F7 0%, #6D45E0 100%);
  border-radius: 10px;
  z-index: 0;
}
/*# sourceMappingURL=style.css.map */