table{
    width: 100%;
    max-width: 960px;
    border: 1px solid;
    margin: 0 auto;
    text-align: center;
}

th,td {
    border: 1px solid;
}

.day{
    background-color: blanchedalmond;
}

tbody td{
    height: 120px;
}

p{
    font-weight: bold;
}

.sale{
    font-size: 1.25em;
}