input:focus::-webkit-input-placeholder { color:transparent; } 
input:focus:-moz-placeholder { color:transparent; } 
/* FF 4-18 */ 
input:focus::-moz-placeholder { color:transparent; } 
/* FF 19+ */ 
input:focus:-ms-input-placeholder { color:transparent; }
 /* IE 10+ */

body{
    background-color: #ededf5;
 }

.signin{
    box-sizing: border-box;
    min-width: 336px;
    max-width: 492px;
    padding: 12px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(146, 129, 129, 0.5);
 }

p{
    font-size: 14px;
    margin: 0px;
    margin-bottom: 8px;
    color: #271f1f;
 }

hr{
    border: 1px solid #d70036;
 }

label{
    font-size: 14px;
    color: #271f1f;
 }

select{
    box-sizing: border-box;
    width: 100%;
    margin: 4px 0 16px;
    padding: 8px 12px 8px 12px;
    border-radius: 6px;
    border: solid 1px #ededf5;
    background-color: #ffffff;  
    font-size: 16px;
 }

input{
    box-sizing: border-box;
}

input::placeholder {
    color:#826c6c;
    font-size: 16px;
  }

input[type="text"]{
    width: 100%;
    margin: 4px 0 16px;
    padding: 8px 12px 8px 12px;
    border-radius: 6px;
    border: solid 1px #ededf5;
    background-color: #ffffff;  
 }

input[type="password"]{
    width: 100%;
    margin: 4px 0 16px;
    padding: 8px 12px 8px 12px;
    border-radius: 6px;
    border: solid 1px #ededf5;
    background-color: #ffffff;  
 }

img{
    width: 100px;
    margin-bottom: 12px;
 }

.button{
    box-sizing: border-box;
    width: 100%;
    margin: 16px 0;
    padding: 5px 12px;
    border-radius: 17px;
    background-image: linear-gradient(to bottom, #ec0068 0%, #d70036 100%);
    text-align: center;
    text-decoration:none;
    color: #ffffff;
    font-size: 16px;
 }